<% content_for :title, "Edit #{@classroom.name}" %>

<div>
  <%# Page Header %>
  <div class="mb-6">
    <div class="breadcrumbs text-sm mb-2">
      <ul>
        <li><%= link_to "Classrooms", classrooms_path, class: "text-blue-600 hover:text-blue-700" %></li>
        <li><%= link_to @classroom.name, classroom_path(@classroom), class: "text-blue-600 hover:text-blue-700" %></li>
        <li>Edit</li>
      </ul>
    </div>
    <h1 class="text-3xl font-bold text-gray-100">Edit Classroom</h1>
    <p class="text-gray-600 mt-1">Update classroom information</p>
  </div>

  <%= render "form" %>
</div>
